{% extends 'blog/base.html' %}

{% block content %}
<div class='jumbotron container'>
    <div class="row">
        <div class="col-md-10">
             <h2>파일저장소</h2>
        </div>
        <div class="col-md-2">
            <a href="{% url 'file_new' %}" class="btn btn-info btn-md">
                <span class="glyphicon glyphicon-plus"></span>New File 
            </a>
        </div>
    </div>
</div>
<div class="container">
	<table class="table table-striped">
		<thead>
     		<tr>
        		<th>올린날짜</th>
        		<th>제목</th>
        		<th>파일이름</th>
        		<th>링크</th>
      		</tr>
    	</thead>
		<tbody>
			{% for post in posts %}
			<tr>
				<td>
          <!-- {{ post.upload_date.year }}년 {{post.upload_date.month}}월 {{post.upload_date.day }}일  -->
          <!-- {{ post.upload_date.hour }}:{{post.upload_date.minute}}:{{post.upload_date.second }} -->
          {{ post.upload_date }}
        </td>
				<td>{{ post.title }}</td>
				<td>{{ post.file.name }}</td>
				<td><a href="{{ post.file.url }}">다운로드</td>
			</tr>
			{% endfor %}
		</tbody>        
   </table>
</div>
{% endblock %}

